body {
    text-align: center;
    background-image: url("../assets/willem-van-de-velde-94074-2.jpg");
}

#board {
    display: flex;
    height: 370px;
    width: 370px;
    margin: auto;
    border: 1px solid black;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../assets/waterBig.png");
    background-size: 100%;
}

.square{
    display: flex;
    border: 1px solid black;
    width: 35px; 
    height: 35px; 
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;   
}

/* mouse over link */
.square:hover {
    opacity: .1;
    background-color: white;
  }

.test{
    display: flex;
    border: 1px solid black;
    width: 35px; 
    height: 35px; 
    justify-content: center;
    align-items: center;
    background-image: url("../assets/hit.png");
    background-size: 100% 100%;

}

#message-box{
    height: 75px;
}

button {
    margin: 0 auto;
}