body {
    text-align: center;
    background-image: url("../assets/navyBattleGroup.png");
}

.boardTwoContainer {
  display: none;
}

.board {
    display: flex;
    height: 370px;
    width: 370px;
    margin: auto;
    border: 1px solid black;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../assets/waterBig.png");
    background-size: 100%;
    /* z-index: 0; */
}

.square{
    display: flex;
    border: 1px solid black;
    width: 35px; 
    height: 35px; 
    background-size: 70%;   
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    position: relative; 
}
.flexContainer {
    display: flex;
    justify-content: space-evenly;
}
/* mouse over link */
.square:hover {
    background-image: url("../assets/crosshairs.png");
  }

#message-box{
    height: 75px;
}

button {
    margin: 0 auto;
}

/* pointer-events avoids 'board' click on the image vs. the square */
img {
    pointer-events: none;
  }
  
  .shipsImage {
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .explosion {
    position: absolute;
    /* top: 5px;
    left: 5px; */
    z-index: 1;
  }